<%- include('partials/html-dashboard') %>

    <body>
        <%- include('partials/navbar') %>

            <div class="container">
                <h1>Clientes</h1>
                <div class="search-client">
                    <input type="text" id="search-client" class="search-input" placeholder="Buscar cliente">
                </div>
                <div class="cards">
                    <% clients.forEach(function(client) { %>
                        <div class="card">
                            <h2>
                                <%= client.name %>
                            </h2>
                            <p>
                                Telefono: <%= client.phone ? client.phone : 'N/A' %>
                            </p>
                            <p class="client-comments">
                                Comentarios: <%= client.comments ? client.comments : 'N/A' %>
                            </p>
                            <h5>Limite de credito: RD$<%= client.limit ? client.limit : 0 %>
                            </h5>
                            <h4>Deuda: RD$<%= client.debt ? client.debt : 0 %>
                                    <h4>
                                        <a href="/clients/payoff/<%= client._id %>" class="payoff-button">Pagar</a>
                                        <a href="/clients/<%= client._id %>" class="edit-button">Editar</a>
                                        <a href="/clients/invoices/<%= client._id %>"
                                            class="invoices-button">Facturas</a>
                                        <a href="/clients/delete/<%= client._id %>" class="delete-button">Borrar</a>

                        </div>
                        <% }) %>
                </div>

                <a href="/clients/new" class="new-sale-button">Añadir Cliente</a>
            </div>

            <script>
                const searchClient = document.getElementById('search-client');
                const cards = document.querySelectorAll('.card');

                searchClient.addEventListener('keyup', (e) => {
                    const searchString = e.target.value.toLowerCase();

                    cards.forEach(card => {
                        const name = card.querySelector('h2').innerText.toLowerCase();
                        const phone = card.querySelector('p').innerText.toLowerCase();
                        const comments = card.querySelector('.client-comments').innerText.toLowerCase();

                        if (name.includes(searchString) || phone.includes(searchString) || comments.includes(
                            searchString)) {
                            card.style.display = 'flex';
                        } else {
                            card.style.display = 'none';
                        }
                    })
                })
            </script>
    </body>