<%- include('partials/html-dashboard') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container-sales">
                <div class="header-sales">
                    <h1 class="title-sales">Ventas</h1>
                    <select class="select-sales" id="select-sales" onchange="filterSales(this.value)">
                        <option value="">Todos los clientes</option>
                        <% var clients={}; %>
                            <% sales.forEach(function(sale) { %>
                                <% if (!clients[sale.client]) { %>
                                    <option value="<%= sale.client %>">
                                        <%= sale.client %>
                                    </option>
                                    <% clients[sale.client]=true; %>
                                        <% } %>
                                            <% }) %>
                    </select>
                    <select class="select-sales" id="select-timeframe" onchange="filterTimeframe(this.value)">
                        <option value="">Todos los periodos</option>
                        <option value="today">Hoy</option>
                        <option value="yesterday">Ayer</option>
                        <option value="this-week">Esta semana</option>
                        <option value="this-month">Este mes</option>
                        <option value="last-month">Mes pasado</option>
                    </select>
                </div>

                <div class="table-responsive">
                    <table class="table-sales">
                        <thead class="table-head-sales">
                            <tr>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Producto(s)</th>
                                <th>Monto Total</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body-sales">
                            <% sales.sort((a, b)=> b.date - a.date).forEach(function(sale) { %>
                                <tr class="table-row-sales" data-client="<%= sale.client %>">
                                    <td class="table-cell-sales">
                                        <%= new Date(sale.date).toLocaleString('en-US', {
                                            timeZone: 'America/Santo_Domingo' }) %>
                                    </td>
                                    <td class=<% if (sale.client !=='Efectivo' ) { %>
                                        "table-cell-sales-credit"
                                        <% } else { %>
                                            "table-cell-sales-cash"
                                            <% } %>>
                                                <%= sale.client.substring(0, 30) %>
                                    </td>
                                    <td class="table-cell-sales">
                                        <% sale.products.forEach(function(product, index) { %>
                                            <% if (index> 0) { %>
                                                -
                                                <% } %>
                                                    <%= product.name.substring(0, 30) %> x<%= sale.quantity[index] %>
                                                            <% }) %>
                                    </td>
                                    <td class="table-cell-sales">RD$<%= sale.total %>
                                    </td>
                                    <td class="table-cell-sales-links"><a
                                            href="/sales/details/<%= sale._id %>">Detalles</a></td>
                                    <td class="table-cell-sales-links"><a
                                            href="/sales/delete/<%= sale._id %>">Borrar</a></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="/sales/question" class="new-sale-button-fixed">Nueva venta</a>

            <script>
                function filterSales(client) {
                    const rows = document.getElementsByClassName('table-row-sales');
                    for (let i = 0; i < rows.length; i++) {
                        const row = rows[i];
                        const clientName = row.getAttribute('data-client');
                        if (client === '' || client === clientName) {
                            row.style.display = 'table-row';
                        } else {
                            row.style.display = 'none';
                        }
                    }
                }

                function filterTimeframe(timeframe) {
                    const rows = document.getElementsByClassName('table-row-sales');
                    const today = new Date();
                    const todayDate = today.getDate();
                    const todayMonth = today.getMonth();
                    const todayYear = today.getFullYear();
                    for (let i = 0; i < rows.length; i++) {
                        const row = rows[i];
                        const dateCell = row.getElementsByClassName('table-cell-sales')[0];
                        const saleDate = new Date(dateCell.innerText);
                        const saleDay = saleDate.getDate();
                        const saleMonth = saleDate.getMonth();
                        const saleYear = saleDate.getFullYear();

                        switch (timeframe) {
                            case 'today':
                                if (saleDay === todayDate && saleMonth === todayMonth && saleYear === todayYear) {
                                    row.style.display = 'table-row';
                                } else {
                                    row.style.display = 'none';
                                }
                                break;
                            case 'yesterday':
                                const yesterday = new Date();
                                yesterday.setDate(todayDate - 1);
                                const yesterdayDate = yesterday.getDate();
                                const yesterdayMonth = yesterday.getMonth();
                                const yesterdayYear = yesterday.getFullYear();
                                if (saleDay === yesterdayDate && saleMonth === yesterdayMonth && saleYear === yesterdayYear) {
                                    row.style.display = 'table-row';
                                } else {
                                    row.style.display = 'none';
                                }
                                break;
                            case 'this-week':
                                const startOfWeek = new Date();
                                startOfWeek.setDate(todayDate - today.getDay());
                                startOfWeek.setHours(0, 0, 0, 0);
                                const endOfWeek = new Date();
                                endOfWeek.setDate(startOfWeek.getDate() + 6);
                                endOfWeek.setHours(23, 59, 59, 999);
                                if (saleDate >= startOfWeek && saleDate <= endOfWeek) {
                                    row.style.display = 'table-row';
                                } else {
                                    row.style.display = 'none';
                                }
                                break;
                            case 'this-month':
                                if (saleMonth === todayMonth && saleYear === todayYear) {
                                    row.style.display = 'table-row';
                                } else {
                                    row.style.display = 'none';
                                }
                                break;
                            case 'last-month':
                                const lastMonth = new Date();
                                lastMonth.setMonth(todayMonth - 1);
                                const lastMonthYear = lastMonth.getFullYear();
                                const lastMonthMonth = lastMonth.getMonth();
                                if (saleMonth === lastMonthMonth && saleYear === lastMonthYear) {
                                    row.style.display = 'table-row';
                                } else {
                                    row.style.display = 'none';
                                }
                                break;
                            default:
                                row.style.display = 'table-row';
                        }
                    }
                }
            </script>
    </body>

    </html>