<%- include('partials/html-dashboard') %>

    <body>
        <%- include('partials/navbar') %>

            <!-- Form to set a new client -->
            <div class="container">
                <h1>Editar Cliente</h1>

                <form action="/clients/<%= clients._id  %>?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT" />
                    <label for="name">Nombre</label>
                    <input type="text" name="name" placeholder="Nombre" value="<%= clients.name %>" />
                    <label for="phone">Telefono</label>
                    <input type="text" name="phone" placeholder="Telefono" value="<%= clients.phone %>" />
                    <label for="comments">Comentarios</label>
                    <input type="text" name="comments" placeholder="Comentarios" value="<%= clients.comments %>" />
                    <label for="limit">Limite</label>
                    <input type="text" name="limit" placeholder="Limite" value="<%= clients.limit %>" />
                    <label for="debt">Deuda</label>
                    <input type="text" name="debt" placeholder="Deuda" value="<%= clients.debt %>" />
                    <input type="submit" value="Update" />
                </form>
            </div>
    </body>

    </html>