<%- include('partials/html-dashboard') %>

    <body class="body-inventory">
        <%- include('partials/navbar') %>
            <div class="container-inventory">
                <!-- Title -->
                <h1 class="title-inventory">Inventario desde
                    <% let startDateplusone=new Date(startDate); %>
                        <% startDateplusone.setDate(startDateplusone.getDate() + 1); %>
                            <%= new Intl.DateTimeFormat('es-DO', { year: 'numeric' , month: 'long' , day: 'numeric' ,
                                timeZone: 'America/Santo_Domingo' }).format(new Date(startDateplusone)) %>
                                hasta
                                <% let endDateplusone=new Date(endDate); %>
                                    <% endDateplusone.setDate(endDateplusone.getDate() + 1); %>
                                        <%= new Intl.DateTimeFormat('es-DO', { year: 'numeric' , month: 'long' ,
                                            day: 'numeric' , timeZone: 'America/Santo_Domingo' }).format(new
                                            Date(endDateplusone)) %>
                </h1>
                <!-- Time selector -->
                <div class="time-selector">
                    <input type="date" id="startDate" class="date-input">
                    <input type="date" id="endDate" class="date-input">
                    <button onclick="fetchData()" class="fetch-button">Actualizar</button>
                </div>

                <!-- Dynamic total amount -->
                <div class="total-amount">
                    <table>
                        <thead>
                            <tr>
                                <th class="total-label">Total Bruto</th>
                                <th class="debt-label">Deuda</th>
                                <th class="true-total-label">Total Neto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="total-value-inventory">RD$<%= totalAmount %>.00</td>

                                <td class="debt-value-inventory">
                                    <% clients.forEach((client)=> { %>
                                        <% debt +=client.debt; %>
                                            <% }); %>
                                                RD$<%= debt %>.00

                                </td>
                                <td class="true-total-value-inventory">RD$<%= totalAmount - debt %>.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!-- List of all transactions -->
                <div class="transactions">
                    <% sales.forEach((sale)=> { %>
                        <div class="transaction">
                            <div class="transaction-info">
                                <span class="transaction-label">ID:</span>
                                <span class="transaction-value">
                                    <%= sale._id %>
                                </span>
                                <span class="transaction-label">| Fecha:</span>
                                <span class="transaction-value">
                                    <%= new Date(sale.date).toLocaleString('en-US', { timeZone: 'America/Santo_Domingo'
                                        }) %>
                                </span>
                                <span class="transaction-label">| Total:</span>
                                <span class="transaction-value">RD$<%= sale.total %>.00</span>

                            </div>

                            <!-- Products table -->
                            <div class="transaction-products">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% sale.products.forEach((product, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= product.name %>
                                                </td>
                                                <td>
                                                    <%= sale.quantity[index] %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% }) %>
                </div>


                <script>
                    function fetchData() {
                        let startDate = document.getElementById('startDate').value;
                        let endDate = document.getElementById('endDate').value;

                        // add 1 day to startDate to include the selected day
                        let startDateObj = new Date(startDate);
                        startDateObj.setDate(startDateObj.getDate());
                        startDate = startDateObj.toISOString().split('T')[0];

                        // add 1 day to endDate to include the selected day
                        let endDateObj = new Date(endDate);
                        endDateObj.setDate(endDateObj.getDate());
                        endDate = endDateObj.toISOString().split('T')[0];

                        window.location.href = `/inventory?startDate=${startDate}&endDate=${endDate}`;
                    }
                </script>
    </body>

    </html>