<%- include('partials/html-dashboard') %>

    <body class="body-inventory">
        <%- include('partials/navbar') %>
            <div class="container-inventory">
                <!-- Title -->
                <h1 class="title-inventory">Inventario desde
                    <%= new Intl.DateTimeFormat('es-DO', { year: 'numeric' , month: 'long' , day: 'numeric' ,
                        timeZone: 'America/Santo_Domingo' }).format(new Date(startDate)) %>
                        hasta
                        <%= new Intl.DateTimeFormat('es-DO', { year: 'numeric' , month: 'long' , day: 'numeric' ,
                            timeZone: 'America/Santo_Domingo' }).format(new Date(endDate)) %>
                </h1>
                <!-- Time selector -->
                <div class="time-selector">
                    <input type="date" id="startDate" class="date-input">
                    <input type="date" id="endDate" class="date-input">
                    <button onclick="fetchData()" class="fetch-button">Actualizar</button>
                </div>

                <!-- Dynamic total amount -->
                <div class="total-amount">
                    <span class="total-label">Total Vendido:</span>
                    <span class="total-value-inventory">RD$<%= totalAmount %>.00</span>
                </div>

                <!-- List of all transactions -->
                <div class="transactions">
                    <% sales.forEach((sale)=> { %>
                        <div class="transaction">
                            <div class="transaction-info">
                                <span class="transaction-label">ID:</span>
                                <span class="transaction-value">
                                    <%= sale._id %>
                                </span>
                                <span class="transaction-label">| Fecha:</span>
                                <span class="transaction-value">
                                    <%= new Date(sale.date).toLocaleString('en-US', { timeZone: 'America/Santo_Domingo'
                                        }) %>
                                </span>
                                <span class="transaction-label">| Total:</span>
                                <span class="transaction-value">RD$<%= sale.total %>.00</span>

                            </div>

                            <!-- Products table -->
                            <div class="transaction-products">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% sale.products.forEach((product, index)=> { %>
                                            <tr>
                                                <td>
                                                    <%= product.name %>
                                                </td>
                                                <td>
                                                    <%= sale.quantity[index] %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% }) %>
                </div>


                <script>
                    function fetchData() {
                        let startDate = document.getElementById('startDate').value;
                        let endDate = document.getElementById('endDate').value;

                        // add 1 day to startDate to include the selected day
                        let startDateObj = new Date(startDate);
                        startDateObj.setDate(startDateObj.getDate() + 1);
                        startDate = startDateObj.toISOString().split('T')[0];

                        // add 1 day to endDate to include the selected day
                        let endDateObj = new Date(endDate);
                        endDateObj.setDate(endDateObj.getDate() + 1);
                        endDate = endDateObj.toISOString().split('T')[0];

                        window.location.href = `/inventory?startDate=${startDate}&endDate=${endDate}`;
                    }
                </script>
    </body>

    </html>